:root {
  font-size: 10px;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: @font;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: @black;
  padding-top: 86px;
}

.block {
  border-style: solid;
  border-width: 4px;
  &--blue {
    border-color: @blue-light;
  }
  &--yellow {
    border-color: @yellow;
  }
  &__header {
    background-color: @blue-light;
    padding: 30px 0;
    &--blue {
      background-color: @blue-light;
    }
    &--yellow {
      background-color: @yellow;
    }
  }
  &__title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.3;
    text-align: center;
    &--white {
      color: @white;
    }
    &--black {
      color: @black;
    }
  }
  &__body {
    padding: 50px 85px;
  }
  &__image {
    margin-bottom: 30px;
    overflow: hidden;
    img {
      display: block;
    }
  }
  &__list {
    text-align: left;
    padding-top: 25px;
    padding-left: 35px;
    border-left-style: solid;
    border-left-width: 4px;
    &--blue {
      border-left-color: @blue-light;
      .block__item {
        &::before {
          background-color: @blue-light;
        }
      }
    }
    &--yellow {
      border-left-color: @yellow;
      .block__item {
        &::before {
          background-color: @yellow;
        }
      }
    }
  }
  &__item {
    position: relative;
    & + & {
      margin-top: 40px;
    }
    &::before {
      display: block;
      content: '';
      width: 27px;
      height: 27px;
      position: absolute;
      top: 3px;
      left: -51px;
      border-radius: 50%;
    }
  }
  &__label {
    font-size: 2.6rem;
    font-weight: 800;
    color: @blue-dark;
    margin-bottom: 15px;
  }
}
.btn {
  max-width: 530px;
  display: inline-block;
  font-family: @font;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3;
  text-align: center;
  color: @white;
  background-color: @blue-light;
  border-radius: 5px;
  padding: 17px 34px;
  transition: background-color @anim-slow;
  &:hover,
  &:focus {
    background-color: @blue-hover;
  }
  span {
    text-transform: uppercase;
  }
}
.container {
  max-width: 930px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px;
}
.fluid-img {
  width: 100%;
}
.hystmodal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
  overflow-y: auto;
  z-index: 99;
  &--active {
    opacity: 1;
    .hystmodal__window {
      transform: scale(1);
      opacity: 1;
    }
  }
  &--active,
  &--moved {
    visibility: visible;
    pointer-events: auto;
  }
  &__opened,
  &__shadow {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
  }
  &__shadow {
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s @anim-fast;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    z-index: 98;
    &--show {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &__wrap {
    width: 100%;
    min-height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  &__window {
    width: auto;
    max-width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    background-color: @white;
    opacity: 0;
    margin: 50px 15px;
    transition: transform @anim-slow, opacity @anim-slow;
    transform: scale(0.9);
    overflow: visible;
  }
  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    display: block;
    width: 15px;
    height: 15px;
    z-index: 10;
  }
}
.polaroid {
  max-width: 530px;
  overflow: hidden;
  &__wrapper {
    position: relative;
    padding: 25px;
    &::before,
    &::after {
      width: 120px;
      height: 33px;
      content: url('../img/polaroid.svg');
      position: absolute;
      z-index: 1;
    }
    &::before {
      top: 10px;
      left: 0;
    }
    &::after {
      right: 0;
      bottom: 10px;
      transform: rotate(180deg);
    }
  }
  &__image {
    background-color: @grey;
    padding: 40px 40px 0;
  }
  &__caption {
    font-family: @caption;
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    color: @black;
    padding-top: 35px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }
}
.popup {
  &__content {
    background-color: @blue-light;
    padding: 115px 60px;
  }
  &__text {
    max-width: 280px;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    color: @white;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
  &__input {
    & + & {
      margin-top: 15px;
    }
    input {
      max-width: 310px;
      width: 100%;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.2;
      color: @black;
      background-color: @white;
      padding: 15px;
      &::placeholder {
        color: #979797;
      }
      &._error {
        border: 2px solid @red;
        &::placeholder {
          color: @red;
        }
      }
    }
  }
  &__error {
    display: none;
    max-width: 280px;
    font-size: 1.4rem;
    line-height: 1.1;
    color: @white;
    background-color: @red;
    padding: 5px 15px;
    margin-top: 10px;
    &._active {
      display: block;
    }
  }
  &__btn {
    width: 100%;
    display: block;
    font-family: @font;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    background-color: @yellow;
    padding: 18px 0;
    transition: background-color @anim-slow;
    margin-top: 20px;
    &:hover,
    &:focus {
      background-color: @yellow-hover;
    }
  }
  &__success {
    background-color: @blue-light;
    padding: 60px 120px;
  }
  &__icon {
    max-width: 50px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
}
.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.section-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-padding {
  padding-bottom: 90px;
}
.section-subtitle {
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 1.3;
  text-align: center;
  color: @blue-dark;
}
.section-text {
  max-width: 650px;
  & + & {
    margin-top: 15px;
  }
}
.section-title {
  font-size: 4.6rem;
  font-weight: 800;
  line-height: 1.13;
  text-align: center;
  color: @blue-dark;
}
.text-bold {
  font-weight: 800;
  color: @blue-dark;
}
