.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 18px 0;
  transition: padding @anim-slow;
  z-index: 10;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: @grey;
    transition: opacity @anim-slow;
    z-index: -1;
  }
  &.active {
    padding: 10px 0;
    &::before {
      opacity: 0.7;
      backdrop-filter: blur(4px);
    }
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    margin-right: 10px;
  }
  .logo {
    display: flex;
    align-items: center;
    &__image {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 50px;
      margin-right: 10px;
    }
    &__text {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      font-size: 2.1rem;
      font-weight: 800;
      color: @blue-light;
    }
  }
  &__nav {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 4px;
  }
  .menu {
    &__item {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
    &__link {
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.25;
      color: @blue-dark;
      transition: color @anim-slow;
      &:hover {
        color: @blue-light !important;
      }
    }
  }
}
