@media @xl {
}
@media @lg {
}
@media @md {
  .container {
    max-width: 650px;
    padding: 0 15px;
  }
}
@media @sm {
}
@media @xs {
  body {
    font-size: 1.6rem;
    padding-top: 63px;
  }
  .about {
    &__title {
      margin-bottom: 20px;
    }
    &__polaroid {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
  .benefits {
    &__title {
      margin-bottom: 20px;
    }
    &__image {
      padding: 0;
      margin-bottom: -27px;
    }
    &__info {
      padding: 55px 15px 30px;
      border-width: 3px;
    }
    &__list {
      margin-bottom: 25px;
    }
    &__item {
      &::before {
        flex-basis: 11px;
        width: 11px;
        height: 11px;
        margin-top: 4px;
        margin-right: 5px;
      }
      & + & {
        margin-top: 15px;
      }
      .text {
        font-size: 1.4rem;
        margin-right: 10px;
      }
      .price {
        flex-basis: 110px;
        font-size: 1.6rem;
      }
    }
    &__price {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    &__notification {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
  }
  .block {
    border-width: 3px;
    &__header {
      padding: 10px 0;
    }
    &__title {
      font-size: 1.8rem;
    }
    &__body {
      padding: 30px 15px;
    }
    &__image {
      padding: 0 15px;
      margin-bottom: 30px;
    }
    &__list {
      padding-top: 20px;
      padding-left: 20px;
      border-left-width: 2px;
    }
    &__item {
      & + & {
        margin-top: 20px;
      }
      &::before {
        width: 16px;
        height: 16px;
        left: -29px;
      }
    }
    &__label {
      font-size: 1.8rem;
    }
  }
  .btn {
    font-size: 1.6rem;
    padding: 13px 20px;
  }
  .changes {
    &__title {
      margin-bottom: 20px;
    }
    &__image {
      margin-top: 20px;
    }
  }
  .course {
    &__title {
      margin-bottom: 20px;
    }
    .section-text + &__block {
      margin-top: 20px;
    }
    &__block {
      & + & {
        margin-top: 30px;
      }
    }
  }
  .footer {
    padding: 40px 0;
    &__body {
      display: block;
    }
    &__law {
      margin-right: 0;
      margin-bottom: 30px;
    }
    &__title {
      font-size: 1.8rem;
      margin-bottom: 15px;
    }
    &__link {
      font-size: 1.6rem;
      margin-bottom: 15px;
    }
    &__text {
      font-size: 1.6rem;
    }
    &__subtitle {
      font-size: 1.6rem;
      margin-bottom: 15px;
    }
  }
  .header {
    padding: 14px 0;
    &__logo {
      flex-basis: 114px;
    }
    .logo {
      &__image {
        flex-basis: 35px;
        margin-right: 7px;
      }
      &__text {
        font-size: 1rem;
      }
    }
    .menu {
      &__item {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
      &__link {
        font-size: 1.4rem;
      }
    }
  }
  .hero {
    padding-top: 30px;
    &__title {
      margin-bottom: 20px;
    }
    &__info {
      font-size: 1.8rem;
      margin-bottom: 25px;
    }
    &__video {
      margin-bottom: 25px;
    }
  }
  .polaroid {
    padding: 15px;
    &__wrapper {
      padding: 20px 20px 0;
    }
    &::before,
    &::after {
      width: 66px;
      height: 18px;
    }
    &::before {
      top: 10px;
    }
    &::after {
      bottom: 10px;
    }
    &__caption {
      font-size: 1.2rem;
      padding: 18px 28px;
    }
  }
  .section-padding {
    padding-bottom: 40px;
  }
  .section-subtitle {
    font-size: 1.8rem;
  }
  .section-title {
    font-size: 2.5rem;
  }
  .video {
    &__notification {
      padding: 5px 30px;
      .icon {
        width: 7px;
        padding-top: 3px;
        margin-right: 3px;
      }
    }
    &__text {
      font-size: 1.2rem;
    }
  }
}
