@media @xl {
}
@media @lg {
}
@media @md {
  .container {
    max-width: 650px;
    padding: 0 15px;
  }
}
@media @sm {
}
@media @xs {
  body {
    font-size: 1.6rem;
    padding-top: 63px;
  }
  .block-subtitle {
    font-size: 1.8rem;
  }
  .btn {
    font-size: 1.6rem;
    padding: 13px 20px;
  }
  .footer {
    padding: 40px 0;
    &__body {
      display: block;
    }
    &__law {
      margin-right: 0;
      margin-bottom: 30px;
    }
    &__title {
      font-size: 1.8rem;
      margin-bottom: 15px;
    }
    &__link {
      font-size: 1.6rem;
      margin-bottom: 15px;
    }
    &__text {
      font-size: 1.6rem;
    }
    &__subtitle {
      font-size: 1.6rem;
      margin-bottom: 15px;
    }
  }
  .header {
    padding: 14px 0;
    &__logo {
      flex-basis: 114px;
    }
    .logo {
      &__image {
        flex-basis: 35px;
        margin-right: 7px;
      }
      &__text {
        font-size: 1rem;
      }
    }
    .menu {
      &__item {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
      &__link {
        font-size: 1.4rem;
      }
    }
  }
  .hero {
    padding-top: 30px;
    padding-bottom: 40px;
    &__title {
      margin-bottom: 20px;
    }
    &__info {
      font-size: 1.8rem;
      margin-bottom: 25px;
    }
    &__video {
      margin-bottom: 25px;
    }
  }
  .section-subtitle {
    font-size: 1.8rem;
  }
  .section-title {
    font-size: 2.5rem;
  }
  .video {
    &__notification {
      padding: 5px 30px;
      .icon {
        width: 7px;
        margin-right: 3px;
      }
    }
    &__text {
      font-size: 0.8rem;
    }
  }
}
