.about {
  &__title {
    margin-bottom: 30px;
  }
  &__subtitle {
    margin-bottom: 15px;
  }
  &__polaroid {
    margin-top: 50px;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__highlight {
    max-width: 600px;
    font-family: @caption;
    font-style: italic;
    font-weight: 400;
    color: @blue-light;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.benefits {
  &__title {
    margin-bottom: 50px;
  }
  &__image {
    padding: 0 15px;
    margin-bottom: -70px;
    z-index: 2;
  }
  &__info {
    padding: 90px 90px 70px;
    border: 4px solid @blue-dark;
  }
  &__list {
    text-align: left;
    margin-bottom: 40px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    &::before {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 25px;
      content: '';
      width: 25px;
      height: 25px;
      background-color: @yellow;
      border-radius: 50%;
      margin-right: 10px;
    }
    & + & {
      margin-top: 20px;
    }
    .text {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 335px;
      margin-right: 20px;
    }
    .price {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 110px;
      font-size: 3rem;
      font-weight: 800;
      color: @blue-light;
      margin-left: auto;
    }
  }
  &__price {
    font-size: 3.8rem;
    font-weight: 800;
    color: @blue-dark;
    margin-bottom: 40px;
    span {
      color: @blue-light;
    }
  }
  &__notification {
    font-size: 4rem;
    font-weight: 800;
    color: @blue-dark;
    margin-bottom: 40px;
    span {
      text-transform: uppercase;
      color: @yellow;
    }
  }
  &__btn {
    max-width: 502px;
  }
}
.changes {
  &__title {
    max-width: 630px;
    margin-bottom: 25px;
  }
  &__image {
    max-width: 590px;
    width: 100%;
    margin-top: 50px;
  }
}
.course {
  &__title {
    margin-bottom: 30px;
  }
  .section-text + &__block {
    margin-top: 50px;
  }
  &__block {
    & + & {
      margin-top: 65px;
    }
  }
}
.hero {
  padding-top: 40px;
  &__title {
    margin-bottom: 25px;
  }
  &__info {
    font-size: 2.6rem;
    font-weight: 800;
    line-height: 1.2;
    color: @blue-dark;
    margin-bottom: 30px;
    & > span {
      display: block;
    }
    .highlight {
      text-transform: uppercase;
      color: @yellow;
    }
  }
  &__video {
    margin-bottom: 35px;
  }
  &__btn {
    max-width: 502px;
  }
}
.video {
  max-width: 685px;
  border: 1px solid @blue-dark;
  &__notification {
    background-color: @grey;
    padding: 8px 40px;
    border-bottom: 1px solid @blue-dark;
    .icon {
      width: 17px;
      padding-top: 1px;
      margin-right: 5px;
    }
  }
  &__text {
    font-size: 1.5rem;
    color: @blue-dark;
  }
  &__body {
    height: 200px;
  }
}
