.about {
  &__title {
    margin-bottom: 30px;
  }
  &__subtitle {
    margin-bottom: 15px;
  }
  &__polaroid {
    margin-top: 50px;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__highlight {
    max-width: 600px;
    font-family: @caption;
    font-style: italic;
    font-weight: 400;
    color: @blue-light;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.changes {
  &__title {
    margin-bottom: 25px;
  }
  &__image {
    max-width: 590px;
    width: 100%;
    margin-top: 50px;
  }
}
.hero {
  padding-top: 40px;
  &__title {
    margin-bottom: 25px;
  }
  &__info {
    font-size: 2.6rem;
    font-weight: 800;
    line-height: 1.2;
    color: @blue-dark;
    margin-bottom: 30px;
    & > span {
      display: block;
    }
    .highlight {
      text-transform: uppercase;
      color: @yellow;
    }
  }
  &__video {
    margin-bottom: 35px;
  }
  &__btn {
    max-width: 502px;
  }
}
.video {
  max-width: 685px;
  border: 1px solid @blue-dark;
  &__notification {
    background-color: @grey;
    padding: 8px 40px;
    border-bottom: 1px solid @blue-dark;
    .icon {
      width: 17px;
      padding-top: 1px;
      margin-right: 5px;
    }
  }
  &__text {
    font-size: 1.5rem;
    color: @blue-dark;
  }
  &__body {
  }
}
