<header class="header">
  <div class="container">
    <div class="header__body">
      <a href="#top" class="logo header__logo" aria-hidden="true" tabindex="-1">
        <div class="logo__image">
          <img src="img/logo.svg" alt="">
        </div>
        <div class="logo__text">Writing Secrets</div>
      </a>
      <nav class="header__nav">
        <ul class="menu header__menu">
          <li class="menu__item">
            <a href="#!" class="menu__link" style="color: #1B3580;" href="#group">Регистрация</a>
          </li>
          <li class="menu__item">
            <a href="https://study.better-russia.com/cms/system/login" class="menu__link"
              style="color: #1B3580;">Войти</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>